@model IEnumerable<CadastroPessoas.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
}

<h2>Pessoas</h2>

<p>
    <a asp-action="CriarPessoa">Cadastrar nova pessoa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sobreNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sobreNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                <a asp-action="AtualizarPessoa" asp-route-id="@item.PessoaId">Editar</a> |
                <a asp-action="ExcluirPessoa" asp-route-id="@item.PessoaId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
